#mainNavigationBar {
    /* background-color: #282929; */
    background: rgb(12,12,14);
    /* background: linear-gradient(115deg, rgba(12,12,14,1) 0%, rgba(40,41,41,1) 51%, rgba(40,41,41,1) 100%); */
    background: linear-gradient(115deg, rgba(12,12,14,1) 0%, rgba(40,41,41,1) 51%, rgba(40,41,41,1  ) 100%); 

    
}

#mainNavigationBar img{
    border-radius: 3px;
}

#mainNavigationBar .navbar-brand .brand-name{
    height: auto;
    font-size: 23px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    color: transparent;
    background: linear-gradient(to right, #c79864, #cc7f39);
    -webkit-background-clip: text;
    background-clip: text;
}

#mainNavigationBar.active-nav {
    background: #282929;
    border-bottom: 1px solid rgba(255, 255, 255, .06);
}

#mainNavbarNav .nav > a {
    font-weight: 600;
    padding: 10px 12px;
    letter-spacing: .5px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

#mainNavbarNav .nav > a.active {
    color: #c79864;
    border-bottom: solid 2px #c79864;

    -webkit-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#mainNavbarNav .nav > a:hover,
#mainNavigationBar button > .fa-align-right {
    color: #c79864;
}



